/*----- CORE ELEMENTS -----*/

body {
	background-color: #E2F0D6;
	color: black;
	font-family: "Open Sans", sans-serif;
	margin: 0 0 100px;
}

header {
	margin: 0 2em 0 2em;
  border-bottom: medium solid #1F4254;
  color: #1F4254;
}

main {
  width:75%;
	margin-left: 50px;
}

#copyright {
  clear: both;
  padding: 5em;
  font-size: smaller;
}

footer{
  font-weight: bold;
}

button:focus{
  background-color: #BDD684;
}

button:hover{
  background-color: #BDD684;
}

button{
  background-color: #F6FFE0;
}


/*------ NAVIGATION -----*/

nav {
  width: 15%;
  float: right;
  margin: 0;
  padding: 0 30px 0 10px;
  margin: 0 10px 0 10px;
  height: 100%;
  background-color: #F6FFE0;
}

nav ul {
  list-style-type: none;
}

#navlink {
  font-size: larger;
  background-color: #BDD684;
  margin: 5px 0 5px 0;
}

#navlink:hover {
  background-color: #95AB63;
}

footer {
	clear: both;
  left: 2em;
  bottom: 0;
  width: 100%;
	font-weight: bold;
	font-size: small;
}

/*----- LINKS -----*/

a:link{
	text-decoration: none;
  color:green;
}

a:visited {
  color: #1F4254;
}

a:hover {
	color: white;
}

/*----- ARTICLES -----*/

article {
	margin-left: 5em;
}

article header {
	border-bottom: 0;
	margin-left: -30px;
}

/*----- INPUTS -----*/

.longText {
  width:250px;
}

.shortText {
  width:50px;
}

.tinyText {
  width:25px;
}


/*----- SPECIAL ELEMENTS -----*/

video {
  float: left;
  margin-right : 1em;
}

aside {
	width: 300px;
  margin: 0.5em;
  padding: 0.5em;
	background-color: #1C3A4A;
	color: white;
	display: inline;
	font-size: larger;
	float: right;
}

