body {
	background-color: #D9BEA7;
	color: black;
	font-family: "Open Sans", sans-serif;
	margin: 0 0 100px;
}

header {
	margin: 0 2em 0 2em;
	border-bottom: solid #9BDAF2;
}

video {
	display: inline-block;
}

main {
  width: 1000px;
	float: left;
	margin-left: 50px;
}

a:link{
	text-decoration: none;
}

a:hover {
	color: white;
}

article {
	margin-left: 5em;
}

article header {
	border-bottom: 0;
	margin-left: -30px;
}

article footer {
	position: relative;
}

nav {
	width: 300px;
	float: right;
  margin: 0;
  padding: 0 30px 0 10px;
  margin: 0 10px 0 10px;
	height: 100%;
	background-color: #9BDAF2;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	font-size: larger;
	background-color: #88C9F2;
	margin: 5px 0 5px 0;
}
nav ul li:hover {
	background-color: #24594D;
}

footer {
	clear: both;
  left: 2em;
  bottom: 0;
  width: 100%;
	font-weight: bold;
	font-size: small;
}

aside {
	width: 300px;
	border: solid #51718C;
	background-color: #51718C;
	color: white;
	display: inline;
	font-size: larger;
	float: right;
	
}

